
p{
    margin:10px;
    float:left;
    position:relative;
    cursor:pointer;
}



#marker_main_filter {
    float: left ;
    padding-left: 200px;
}

.table_info_head {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

#basic_well {
	 height: 500px;
    max-height: 500px;
	 overflow-y:auto;
	 overflow-x:hidden;
}

#voting_well {
	 height: 112px;

}

#event_well {
	 padding-right: 15px !important;
	 height: 719px;
    max-height: 719px;
	 overflow-y:auto;
	 overflow-x:hidden;
}




#tname_type .b_right, #tmeta_rank .b_right, #tlocation .b_right {
    padding-left: 60px !important;
    padding-top: 7px !important;
    padding-bottom: 7px !important;
}



#tname_type .b_left, #tmeta_rank .b_left, #tlocation .b_left {
    padding-top: 7px !important;
    padding-bottom: 7px !important;
}



.checkbox-inline {
	 margin-bottom: 4px !important;
}




.ABcheck, .ProtRadio, #ProtVoteID, #global_regex {
    position: relative !important;
    margin: 0px !important;
    top: 4px !important;
}


#votesub {
    position: relative !important;
    top: 27px !important;
}

#marker_main_filter {
	 display: none;
}

#movingSearch {
	float:left;
}

#runProtCount { 
	 text-align: left;
	 padding-bottom: 0px !important;
	 padding-top: 0px !important;
	 position: relative !important;
    top: -17px !important;
	 display: inline !important;
}

#deleteEvent {
	 float:right;
}


.ABul, .ABlistEl{
	 margin:0;
	 padding-left: 0px !important;
}

.labelpopover {
	margin: 0 !important;
}


.ABlistElred{
	 margin:0;
	 padding-left: 0px !important;
	 background-color: rgba(255,0,0,0.5) !important;
}

.ABlistElyellow{
	 margin:0;
	 padding-left: 0px !important;
	 background-color: rgba(255,255,0,0.5) !important;
}

.ABlistElgreen{
	 margin:0;
	 padding-left: 0px !important;
	 background-color: rgba(0,255,0,0.5) !important;
}



.ABcolumn{
    float: left;
    margin: 5px 20px 0 30px;
}


#protradios {
	 margin-top: -10px !important;
}

#moreAB {
	 margin-top: 0px !important;
}

#statgreen span, .rowgreen td{
	 background-color: rgba(0,255,0,0.5) !important;
}

#statred span, .rowred td {
	 background-color: rgba(255,0,0,0.5) !important;
}

#statyellow span, .rowyellow td {
	 background-color: rgba(255,255,0,0.5) !important;
}


.rowgreen:hover {
	 background-color: rgba(0,255,0,0.6) !important;
}

.rowred:hover {
	 background-color: rgba(255,0,0,0.6) !important;
}

.rowyellow:hover {
	 background-color: rgba(255,255,0,0.6) !important;
}

tbody a {
	 color: rgb(122, 30, 86) !important;
}

tbody td {
	 color: black !important;
}


.statcenter {
	 display: inline-block !important;
}

.centerdiv {
	 text-align: center !important;
}



//*
    max-height: 132px;
	 overflow-y:auto;
	 overflow-x:hidden;

.linkcenter {
	 display: inline-block !important;
}

#moreAB {
	 margin-top: 15px !important;
}

input[type="checkbox"] {
    position: relative !important;
    margin: 0px !important;
    top: 4px !important;
}

#tmeta_rank th {
    padding-right: 30px !important;
    padding-top: 7px !important;
    padding-bottom: 7px !important;
}

#tlocation th {
    padding-right: 40px !important;
    padding-top: 7px !important;
    padding-bottom: 7px !important;
}



#tname_type {
    padding-right: 30px !important;
    padding-top: 7px !important;
    padding-bottom: 7px !important;
}




table.display thead th {
    text-align: left;
}

table.display tbody th {
    text-align: left;
}
 
table.display tbody td {
    text-align: left;
}



span.ggg{
    background: none repeat scroll 0 0 #F8F8F8;
    border: 4px solid #DFDFDF;
    
    font-size: 10px;
    height: 80px;
    width:190px;
    letter-spacing: 1px;
    line-height: 15px;
    margin: 0 auto;
    position: absolute;
    text-align: left;
    top: 25px;
    left:-60px;
    padding-top: 3px;
    padding-left: 2px;
    padding-right: 2px;
    display:none;


}
span.ggg:after{
    content:'';
    position:absolute;
    bottom:81px;
    width:6px;
    height:6px;
    border-bottom:4px solid #dfdfdf;
    border-right:4px solid #dfdfdf;
    background:#f8f8f8;
    left:50%;
    margin-left:-5px;
    -moz-transform:rotate(225deg);
    -webkit-transform:rotate(225deg);
    transform:rotate(225deg);
}


p:hover span{
    display:block;
}

*//
